<div class:"forms">
  <%= form_for @user do |f| %>
    <%= f.label :username %>
    <%= f.text_field :username, placeholder: "Username" %>
    <br>
    <%= f.label :email %>
    <%= f.text_field :email, placeholder: "email" %>
    <br>
    <%= f.label :password %>
    <%= f.password_field :password, placeholder: "Password" %>
    <br>
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, placeholder: "Confirm Password" %>
    <br>
    <%= f.submit "Create Account", class: 'btn btn-lg btn-primary' %>
  <% end %>
</div>